body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--lightGrey);
}

:root {
  /* use this margin for your parts */
  --gap-width: 15px;
  /* For each card */
  --boxShadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  /* Colors */
  --white: #fff;
  --black: #000;
  --darkBlue: #076490;
  --blue: #199de5;
  --iconGrey: #607d8b;
  --superDarkGrey: #9eb1bb;
  --darkGrey: #becbd2;
  --grey: #dfe5e8;
  --lightGrey: #f5f7f8;
  --green: #4caf50;
  --red: #f44336;
}
/*********
 FIRST CARD 
 *********/

/* box */
.box {
  background-color: var(--white);
  box-shadow: var(--boxShadow);
  margin: var(--gap-width);
  padding: 20px;
  border-radius: 10px;
}

/* My profile */
.profile h1 {
  text-align: center;
}

/* image */
.profile .img_container {
  width: 50%;
  margin: auto;
}

.profile img {
  width: 100%;
  border-radius: 50%;
}

hr {
  color: var(--iconGrey);
}

/* icon same line with text */
.profile_rows div {
  display: flex;
  align-items: center;
}

/* icon */
.profile_rows div i,
.networks div i {
  margin: 20px;
  color: var(--iconGrey);
}

/*********
 SECOND CARD 
 *********/
.networks {
  padding: 0 0 20px;
}

.networks .groups_events {
  display: flex;
  align-items: center;
  background-color: var(--blue);
  color: var(--white);
  cursor: pointer;
}

.networks .groups_events:hover {
  color: var(--black);
  background-color: var(--superDarkGrey);
}

/* box networks */
.networks .groups_events i {
  color: var(--white);
}

.networks .groups_events:hover * {
  color: var(--black);
}

/* only first row */
.first_row_groups_events {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
/* some text some other text */
.networks p {
  margin-left: 20px;
}

.networks_rows {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1em;
  width: 90%;
  margin: 1em auto 0;
}

.networks_rows img {
  width: 100%;
  height: 100%;
}

/* Elmira - part 8 */
.card8{
    margin: var(--gap-width);
    box-shadow: var(--boxShadow);
    border-radius: 10px;
    padding: 15px;
}
.user img{
    border-radius: 50px;
    width:80px;
    height: 80px;
    object-fit: cover;
}
.user{
    display: flex;
    align-items: center;
}
.name{
    font-size: 20px;
    margin-left: 15px;

}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.time{
    color: var(--iconGrey);
}
.content img{
    width: 100%;
    object-fit: cover;
    margin-bottom: 20px;
}
.card8 hr{
    border: 0.5px solid var(--lightGrey);
    margin-bottom: 30px;
    margin-top: 40px;
}
.top-text{
    margin-bottom: 20px;
}
.content{
    margin-bottom: 20px;
}
.bootcamp-link{
    
    
}
.bootcamp-link a{
    text-decoration: none;
}
.bootcamp-link a:hover{
    text-decoration:none ;
}
.card8-buttons button{
    background-color: var(--blue);
    padding: 10px 20px;
    border: none;
    color: white;
}
.card8-buttons i{
    margin-right: 5px;
}
.card8-buttons button:hover{
    background-color: var(--superDarkGrey);
    color: black;
}

/*Interest*/
.interest-container {
    color: var(--black);
    padding: 0.01em 16px;
    background-color: var(--white);
    box-shadow: var(--boxShadow);
    border-radius: 5px;
    box-sizing: inherit;
    display: inline-block;
}
.interest-box{
    padding: 0.01em 16px;   
}
.interest-container div p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/*Alert */
 .alert  {
    background-color: var(--grey);
    position: relative;
    margin: var(--gap-width);
    border-radius: 5px;
    padding: 0.01em 16px;
    display: inline-block;
    box-sizing: inherit;
    
}
.alert .span-button {
    background-color:var(--darkGrey);
    color: var(--black);
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 8px 16px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
}
.alert .span-button:hover{
    cursor: pointer;
    background-color: var(--lightGrey);
}
/* ERLEST 11 12 */
.first {
    padding: 40px;
    margin: 15px;
    height: 100px;
    text-align: center;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
}

.second {
    padding: 40px;
    margin: 15px;
    height: 140px;
    font-size: 33px;
    text-align: center;
    box-shadow: var(--boxShadow);
    border-radius: 10px;
}

/*Footer*/

footer{
    color: var(--white);
    padding: var(--gap-width);   
}
.footer-top{
    background-color:var(--blue);
}
.footer-top h5{
    font-size: 18px;
    margin: 10px 0px;
    font-weight: 400;
}
.footer-bottom {
background-color:var(--darkBlue);
}
footer a {
    color: var(--white);
}
/*End of Footer*/

/* Media queries */
@media screen and (min-width: 400px) {
  .main {
    display: flex;
    flex-direction: column;
  }

  /* 1st, 2nd cards */
  .networks_rows {
    display: grid;
    grid-template-columns: auto auto;
  }
}